body{
    margin: auto;
    width: 80vw;
    background-color: whitesmoke;
}

.pageHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;

    & .menu{
        background-color: white;
        height: 6vh;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        & a{
            text-decoration: none;
            color: black;
            padding-left: 0.75vw;
            padding-right: 0.75vw;
            padding-top: 1vh;
            padding-bottom: 1vh;
            align-items: center;
            margin-top: 0.5vh;
            margin-bottom: 0.5vh;
            margin-right: 0.25vw;

            &:hover{
                background-color: #2E8C7E;
                border-radius: 10px;
                color: white;
            }

            &#lastMenuItem{
                margin-right: .5vw;
            }

            &#firstMenuItem{
                margin-left: .5vw;
            }
        }
    }

    & .logoAndButton{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60vw;

        & #addTaskBtn{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #2E8C7E;
            color: white;
            height: 5vh;
            width: 8vw;
            padding-bottom: 1vh;
        }
    }

    & .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & img{
            width: 5vw;
            height: 10vh;
        }
    }
}