main{
    margin: auto;
    width: 40vw;
    margin-top: 20vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>label, &>div, &>input{
        padding-bottom: 2vh;
        padding-top: 2vh;
    }
    & button{
        margin-top: 2vh;
    }
}

.hidden{
    display: none;
}

.radioBtns{
    display: inline;
}