<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <meta name="author" content="Tshepo Majoro">
</head>
<body>
<main>
  <h2>Welcome back</h2>
  <p>Sign in to continue</p>
  <form method="post" th:action="@{/changePassword}">
    <label for="username">Username:</label>
    <input type="text" id="username" maxlength="50" th:field="${user.username}" placeholder="Enter your username"
           required>
    <label for="password">New Password:</label>
    <input type="password" id="password" minlength="8" maxlength="20" placeholder="Enter your new password"
           th:field="${user.password}" required>
    <button type="submit">Change Password</button>
  </form>
</main>
</body>
</html>