<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="author" content="Tshepo Majoro"/>
    <link th:href="@{/layoutStyles.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <main>
        <section class="pageHead">
            <div class="logoAndButton">
                <div class="logo">
                    <img th:src="@{/images/logo.png}" id="logo" alt="Logo"/>
                    <h2> Tasks</h2>
                </div>
                <button th:href="@{/add_task}" id="addTaskBtn">+ New Task</button>
            </div>
            <div class="menu">
                <a href="#" id="firstMenuItem" class="menuItem active">All</a>
                <a href="#" class="menuItem">To Do</a>
                <a href="#" class="menuItem">In Progress</a>
                <a href="#" id="lastMenuItem" class="menuItem">Done</a>
            </div>
        </section>
        <section layout:fragment="contents"></section>
    </main>
</body>
</html>