<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>User Registration Form</title>
    <meta name="author" content="Tshepo Majoro"/>
    <link th:href="@{/registrationFormStyles.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/registrationFormDOM.js}" defer type="text/javascript"></script>
</head>
<body>
    <main>
        <h2>Create an account</h2>
        <p>Join us today</p>
        <form method="post" th:action="@{/register}">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="${user.firstname}" placeholder="John"
                   maxlength="20" required>
            <label>Last Name:</label>
            <input type="text" id="lastName" th:field="${user.lastname}" placeholder="Doe"
                   maxlength="20" required>
            <label>Email:</label>
            <input type="email" id="email" th:field="${user.username}" placeholder="john@example.com"
                   required>
            <label>Password:</label>
            <input type="password" id="password" th:field="${user.password}"  placeholder="Create a password"
                   minlength="8" maxlength="20" required>
            <label>Gender:</label>
            <div class="radioBtns">
                <label>
                    <input type="radio" name="gender" id="maleGender" value="Male" th:field="${user.gender}">
                    Male
                </label>
                <label>
                    <input type="radio" name="gender" id="femaleGender" value="Female" th:field="${user.gender}">
                    Female
                </label>
                <label>
                    <input type="radio" name="gender" id="otherGender" value="Other">
                    Other
                </label>
            </div>
            <label class="otherGender hidden" for="gender">Specify your gender here:</label>
            <input class="otherGender hidden" type="text" id="gender" placeholder="Your gender identity"
                   th:field="${user.gender}" minlength="4" maxlength="20" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a th:href="@{/login}">Sign in</a></p>
    </main>
</body>
</html>